input{
    padding: 10px;
    margin: 10px;
    
}
form{
    margin-left: 500px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: rgb(234, 237, 237);
}
a{
    text-decoration: none;
    font-size: 25px;
}